    * {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #000;
    }
    
    body {
        padding: 0;
        margin: 0;
    }
    
    header {
        padding-left: 64px;
        padding-right: 64px;
        height: 80px;
        display: flex;
        align-items: center;
    }
    
    .wrapper__logo {
        position: relative;
        max-width: 1200px;
    }
    
    .wrapper__logo img {
        width: 45px;
    }
    
    .wrapper__logo a {
        text-decoration: none !important;
    }
    
    .wrapper__logo a span {
        font-family: "Ondo-Regular", sans-serif;
        font-size: 20px;
    }
    
    a img.logo {
        height: 64px;
    }
    
    section.first {
        position: relative;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    section {
        position: relative;
        padding-left: 64px;
        padding-right: 64px;
    }
    
    section.second {
        display: flex;
        justify-content: center;
    }
    
    section.four {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
    
    .second__wrapper {
        max-width: 1264px;
        margin-bottom: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hero_2 {
        max-width: 80%;
        margin-right: 40px;
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
    }
    
    canvas {
        border-radius: 12px;
    }
    
    .wrapper__main {
        position: absolute;
        width: auto !important;
        top: 0;
        left: 0;
        padding: 62px;
    }
    
    .hero_1 {
        font-size: 50px;
        line-height: 64px;
        font-weight: 700;
    }
    
    .button {
        padding: 22px 32px;
        border-radius: 15px;
        background-color: #000;
        color: #fff !important;
        text-decoration: none !important;
        display: inline;
    }
    
    .wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section__welcome__text {
        /* padding-left: 0;
    padding-top: 120px;
	padding-bottom: 80px; */
        margin: 20px 0;
        padding: 20px;
        border-radius: 12px;
    }
    
    .section__welcome__text .shadow {
        box-shadow: 6px 6px 40px 0 rgba(55, 84, 170, 0.12);
    }
    
    .info {
        padding: 16px 16px 16px 0;
    }
    
    .icon_svg {
        max-width: 28%;
        min-width: 28px;
        margin-top: 0px;
        margin-right: 15px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    
    .headline {
        margin-top: 0px;
        display: inline-flex;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .card__info {
        margin: 20px;
        padding: 32px;
        border-radius: 12px;
        display: flex;
        background-image: linear-gradient(90deg, rgb(138 255 228 / 30%), rgb(153 255 56 / 30%));
        /* background-image: linear-gradient(90deg, rgba(138, 213, 255, 0.3), rgba(56, 88, 255, 0.3)); */
    }
    
    .card__info__text {
        display: inline-block !important;
    }
    
    .highlight {
        font-size: 17px;
        line-height: 24px;
        color: #000;
    }
    
    .tabs__menu {
        margin-top: 12px;
        margin-bottom: 60px;
        padding-left: 32px;
        padding-right: 32px;
        background-color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    
    .tab {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 600;
        text-decoration: none !important;
        color: #9c9fb0 !important;
        display: inline-block;
        border-radius: 3px;
    }
    
    .tab:hover {
        background: #9359ef5c;
        color: #fff !important
    }
    
    .tab.current {
        background: #9359ef;
        color: #fff !important;
    }
    
    .product__category {
        width: 100%;
        margin-bottom: 40px;
        padding-right: 20px;
        padding-left: 32px;
    }
    
    .cards {
        position: relative;
        height: 250px;
        margin: 20px;
        padding: 32px;
        border-radius: 12px;
        color: #000 !important;
        box-shadow: 6px 6px 40px 0 rgba(55, 84, 170, 0.12);
        transition: background 2s ease;
    }
    
    .cards::after {
        content: '';
        background-attachment: red;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    
    .cards:hover {
        background: conic-gradient(from 104deg at 60px 64px, #935fe6 -143%, #42ffe8 129%);
        color: #fff !important;
    }
    
    .odds {
        margin-left: 0 !important;
    }
    
    .not__odd {
        margin-right: 0 !important;
    }
    
    .fac__cards {
        text-decoration: none !important;
    }
    
    .fac__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .fac__flag {
        position: relative;
        width: 56px;
        height: 64px;
        margin-right: 20px;
    }
    
    .fac__flag img {
        position: absolute;
    }
    
    .fac__icon {
        left: 16px;
        top: 16px;
    }
    
    .fac__name {
        /* padding-top: 104px;
    padding-bottom: 16px; */
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }
    
    .fac__names {
        padding-top: 40px;
        padding-bottom: 16px;
        font-size: 24px;
        line-height: 64px;
        font-weight: 700;
    }
    
    .fac__description {
        font-size: 15px;
        line-height: 20px;
    }
    
    .div__sale {
        position: absolute;
        right: 0;
        top: 0;
        color: rgb(246, 81, 33);
        background-color: rgb(255, 244, 244);
        padding: 12px 16px;
        border-radius: 0 12px 0 10px;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        display: inline-block;
    }
    
    .arrow {
        position: absolute;
        transform: translateX(10px);
        right: 0;
        bottom: 0;
        z-index: 0;
        display: block;
        height: 32px;
        width: 32px;
        transition: all .3s ease;
    }
    
    .arrow img {
        transform: rotateZ(45deg);
        width: 30px;
    }
    
    .cards:hover .second__icon {
        opacity: 0;
    }
    
    .cards:hover .arrow {
        transform: translate3d(0, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        z-index: 1;
    }
    
    .cards:hover .div__sale {
        color: #fff;
        background-color: rgba(255, 50, 50, 0.876);
    }
    
    .cards:hover .fac__name,
    .cards:hover .fac__description {
        color: #fff !important;
    }
    
    .cards.second__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #EC4C64 -143%, #962FBA 129%) !important;
    }
    
    .cards.third__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #ED6401 -143%, #FFD914 129%) !important;
    }
    
    .cards.fourth__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #A771FF -143%, #5D43FF 129%) !important;
    }
    
    .cards.fifth__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #392D69 -143%, #B57BEE 129%) !important;
    }
    
    .cards.sixth__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #00DA98 -143%, #0075FF 129%) !important;
    }
    
    .cards.seventh__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #9BE400 -143%, #00B669 129%) !important;
    }
    
    .cards.eight__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #005D8E -143%, #00A9C3 129%) !important;
    }
    
    .cards.nine__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #F04C36 -143%, #FFC701 129%) !important;
    }
    
    .cards.ten__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #555F85 -143%, #76A1D5 129%) !important;
    }
    
    .cards.eleven__card:hover {
        background: conic-gradient(from 104deg at 60px 64px, #0186A8 -143%, #00B6E4 129%) !important;
    }
    
    .event__container {
        width: 100% !important;
    }
    
    .event__container__content {
        width: 50%;
    }
    
    .professional__card {
        color: #000 !important;
        padding: 20px 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-decoration: none !important;
        border-radius: 12px;
        width: 100% !important;
        transition: all .3s ease;
    }
    
    .div__sale__card {
        color: #FFF;
        background-color: rgba(255, 50, 50, 0.8);
        padding: 12px 16px;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 500;
        line-height: 10px;
        display: inline-block;
        text-transform: uppercase;
    }
    
    .professional__card:hover {
        box-shadow: 0 0 0 1px #fff, 0 20px 64px 4px rgba(55, 84, 170, 0.12);
        z-index: 1000 !important;
        background-color: #fff;
    }
    
    .professional__card:hover .professional__card__after {
        opacity: 0 !important;
    }
    
    .fac__cards__second {
        position: relative;
        padding: 32px;
        margin: 20px;
        color: #000 !important;
        text-decoration: none !important;
        display: flex;
        box-shadow: 6px 6px 40px 0 rgba(55, 84, 170, 0.12);
        border-radius: 12px;
    }
    
    .image__27 {
        position: absolute;
        bottom: 0;
        right: 0;
        top: auto;
        left: auto;
        max-width: 60%;
        height: 100%;
    }
    
    .card__section {
        margin-bottom: 120px;
    }
    
    .cards__section {
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .fac__cards__second:hover .fac__description,
    .fac__cards__second:hover .fac__names {
        color: #fff !important;
    }
    
    .fac__cards__second:hover {
        background-image: linear-gradient(135deg, #7f4e8b, #f6a0db);
    }
    
    .fac__cards__second.python:hover {
        /* background-image: linear-gradient(135deg, #f5c00c, #ffb800); */
        background-image: linear-gradient(135deg, #4e808b, #a0e2f6);
    }
    
    .fac__cards__second.java:hover {
        /* background-image: linear-gradient(180deg, #4053fa, #4053fa), linear-gradient(135deg, #f5c00c, #ffb800); */
        background-image: linear-gradient(135deg, #8b7b4e, #f5f6a0);
    }
    
    .fac__cards__second.web:hover {
        /* background-image: linear-gradient(135deg, #0047fe, #00a3ff); */
        background-image: linear-gradient(135deg, #4e778b, #a0f6d6);
    }
    
    .fac__cards__second.cyber:hover {
        /* background-image: linear-gradient(180deg, #ff3a00, #ff3a00), linear-gradient(135deg, #392d69, #b57bee); */
        background-image: linear-gradient(135deg, #8b4e4e, #f6cca0);
    }
    
    .fac__cards__content {
        width: 60%;
    }
    
    .section__title {
        padding-top: 120px;
        padding-bottom: 40px;
    }
    
    #form {
        background-image: linear-gradient(90deg, rgba(138, 213, 255, 0.4), rgba(56, 88, 255, 0.4));
    }
    
    .form__block {
        max-width: 100%;
        padding-bottom: 120px;
    }
    
    form.form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    form.form input {
        flex: 1;
        height: 64px !important;
        width: 25%;
        margin-bottom: 0px;
        padding-right: 24px;
        padding-left: 24px;
        border-style: none solid none none;
        border-right-width: 1px;
        /*border-right-color: hsla(0, 0%, 100%, 0.12);*/
        background-color: #6654d9;
        color: #fff !important;
        font-size: 17px;
        line-height: 24px;
        outline: none !important;
    }
    
    form.form input:hover {
        background-color: #5a46d6;
    }
    
    form.form input:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    
    form.form input:nth-child(4) {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #725ef2;
    }
    
    form.form input::placeholder {
        /*color: hsla(0,0%,100%,0.12);*/
        opacity: .5;
        color: #fff;
    }
    
    .body__13 {
        margin-top: 32px;
        color: #000;
        font-size: 13px;
    }
    
    .afetr__wrapper {
        padding-top: 200px;
        padding-left: 32px;
    }
    
    .canvBox {
        height: 420px;
        max-width: 1285px !important;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    
    .after__wrapper {
        padding-left: 32px;
    }
    
    canvas {
        width: 100%;
        height: 560px;
        background-image: linear-gradient(90deg, rgb(242 255 138 / 42%), rgb(68 255 56 / 30%));
    }
    
    .to__bottom {
        position: absolute;
        /*display: flex;*/
        right: 5%;
        bottom: 5%;
        width: 14%;
        color: #fff !important;
        text-decoration: none !important;
    }
    
    .to__bottom {
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
        /* width: 40px;
    height: 48px;
	border-radius: 50%;
	 */
        width: 30px;
        height: 50px;
        border-radius: 30px;
        border: 4px solid #fff;
        opacity: .6;
        /*-webkit-animation: test 2s infinite;
	-o-animation: test 2s infinite;
	animation: test 2s infinite;*/
    }
    
    #arrow {
        color: #fff;
        -webkit-animation: test 2s infinite;
        -o-animation: test 2s infinite;
        animation: test 2s infinite;
    }
    
    @keyframes test {
        0% {
            transform: translateY(-20px) scale(1);
        }
        15% {
            transform: translateY(0px) scale(1);
        }
        40% {
            transform: translateY(-15px) scale(1);
        }
        55% {
            transform: translateY(0px) scale(1);
        }
        80% {
            transform: translateY(-10px) scale(.8);
        }
        95% {
            transform: scale(.5);
        }
        100% {
            transform: translateY(30px) scale(0);
        }
    }
    
    .layuot__footer {
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .footer__text__link {
        display: block;
        padding-top: 12px;
        color: #8c8e93;
        font-size: 13px;
        line-height: 18px;
        font-weight: 500;
        text-decoration: none !important;
    }
    
    .footer__text__link:hover {
        color: #6654d9;
    }
    
    .nodes {
        display: flex;
        flex-direction: column;
        width: 20%;
    }
    
    .foot__image {
        height: 48px;
        justify-content: flex-start;
    }
    
    @media screen and (max-width: 992px) {
        body {
            overflow-x: hidden;
        }
        form.form {
            flex-direction: column;
        }
        form.form input {
            line-height: 64px !important;
            width: 100%;
        }
        form.form input:first-child {
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 0px;
        }
        form.form input:nth-child(4) {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
        }
        form.form input:nth-child(2),
        form.form input:nth-child(3) {
            border-top: 1px solid hsla(0, 0%, 100%, 0.12);
        }
        canvas {
            height: 960px;
        }
        /* .first__content {
        max-width: 100%;
        margin-top: 25%;
    } */
        /*.hero_1 {
		margin-bottom: 48px;
	}*/
        .info:first-child,
        .info:nth-child(2) {
            flex: 2;
            display: flex;
            align-items: flex-start;
            padding: 0 !important;
            margin-bottom: 40px !important;
        }
        .info .headline {
            margin-top: -10px;
        }
        .info:first-child {
            /*margin-right: 25px;*/
        }
        .info:nth-child(2) .icon_svg {
            margin-left: 40px !important;
        }
        .info:nth-child(3) {
            padding: 0 !important;
            display: flex;
        }
        .tabs__menu {
            position: relative;
        }
        section {
            padding-left: 64px;
            padding-right: 64px;
        }
        .nodes {
            width: 33%;
        }
        .highlight__pos4 {
            margin-top: 1.5rem;
        }
        .fac__name {
            font-size: 20px;
            line-height: 25px
        }
        .cards {
            height: 220px;
        }
        .fac__flag .first__icon {
            width: 50px;
            height: 60px;
        }
        .fac__flag .second__icon {
            width: 50px;
            height: 60px;
        }
        .fac__flag .fac__icon {
            width: 20px;
            height: 20px;
        }
        .div__sale {
            padding: 8px 12px;
        }
        .hero_1 {
            font-size: 46px;
            line-height: 50px;
            font-weight: 700;
        }
    }
    
    @media screen and (max-width: 768px) {
        canvas {
            border-radius: 0;
            width: 100%;
        }
        header {
            padding-left: 32px;
            padding-right: 32px;
        }
        .card__info {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .card__third {
            margin-top: 0;
        }
        section {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        section.four {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .wrapper__main {
            left: 0px;
            right: 0px;
        }
        .hero_1 {
            font-size: 40px;
            line-height: 56px;
        }
        .hero_2 {
            max-width: 100%;
            font-size: 24px;
            line-height: 32px;
        }
        .wrapper {
            padding-left: 32px;
            padding-right: 32px;
        }
        .card__section {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .second {
            padding-top: 0 !important;
        }
        .after__wrapper {
            padding-left: 0;
        }
        .cards {
            margin: 0px !important;
            margin-top: 20px !important;
            padding: 24px;
            transition: all 2s ease;
        }
        .fac__icon {
            left: 40px;
            top: 40px;
        }
        .product__category .hero_1 {
            font-size: 24px !important;
            line-height: 1.5;
            padding-right: 32px;
        }
        .headline {
            font-size: 20px;
        }
        .fac__cards__second {
            margin: 0 !important;
            margin-bottom: 20px !important;
        }
        .section__title {
            padding-top: 72px !important;
        }
        .section__title .hero_1 {
            font-size: 24px !important;
            line-height: 1.5;
        }
        /*.layuot__footer {
		display: block;
	}*/
        .nodes {
            display: inline-block;
            width: 45%;
        }
        .fac__name {
            font-size: 20px;
            line-height: 20px
        }
        .wrapper__main {
            padding: 15px;
        }
        .canvBox {
            height: 320px;
        }
        .wrapper__main {
            padding: 20px;
        }
        .hero_1 {
            font-size: 35px;
            line-height: 40px;
        }
        .button {
            padding: 17px 27px;
        }
    }
    
    @media screen and (max-width: 577px) {
        .wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }
        .section__welcome__text {
            padding-top: 80px;
            padding-bottom: 40px;
        }
        .headache {
            width: 70% !important;
        }
        .info:nth-child(2) .icon_svg {
            margin-left: 0px !important;
        }
        .info .headline {
            margin-top: 0;
        }
        .card__info {
            padding: 16px;
        }
        .hero_1 {
            font-size: 32px;
            line-height: 40px;
        }
        .highlight {
            font-size: 15px;
            line-height: 22px;
        }
        .section__text {
            padding-top: 0px;
        }
        .tabs__menu {
            padding-left: 20px;
            padding-right: 20px;
        }
        .highlight__pos3 {
            margin-top: 1.5rem;
            width: 100%;
        }
        .nodes:nth-child(3),
        .nodes:nth-child(4) {
            width: 100%;
        }
        .tab {
            font-size: 15px;
            line-height: 20px;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-right: 5px;
        }
        .product__category {
            padding-left: 20px;
            padding-right: 20px;
        }
        .cards__section {
            padding-left: 20px;
            padding-right: 20px;
        }
        .fac__cards__second {
            padding: 24px;
        }
        .fac__names {
            font-size: 20px;
            line-height: 28px;
        }
        .fac__name {
            font-size: 20px;
            line-height: 28px;
            padding-top: 84px;
        }
        .fac__description {
            margin-top: 30px;
            font-size: 13px;
            line-height: 18px;
        }
        .event__container__content {
            width: 50% !important;
            font-size: 17px !important;
        }
        .fac__cards__content {
            width: 80%;
            z-index: 99;
        }
        .dp {
            flex-direction: column;
        }
        .hero_1 {
            font-size: 25px;
            line-height: 35px;
        }
        .button {
            padding: 15px;
        }
    }